*{
    margin: 0;
    padding: 0;
}
.slogan{
    color: aliceblue;
    font-size: 26px;
    padding: 0px 64px;
}
#myHeader{
    width: 100%;
    background-color: black;
    position: fixed;
    height: 30px;
    padding: 12px 16px;
    z-index: 999; /*Content goes under header*/
  }
  
.header img{
    position: absolute;
    top: -30%;
    width: 70px;
    padding: 9px 10px;
}
body{
   background: url(/static/styles/Images&Gifs/Login.jpg) no-repeat center center fixed;
   background-size: cover;
}
.container{
    padding:34px;
    box-shadow: 0 0 22px rgb(62, 145, 224);
    border: 3px solid rgb(62, 145, 224);
    border-radius: 22px;
    width: 40%;
    height: 36%;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    position: absolute;
    top: 33%;
    left: 30%;
}
.container h1{
    display: inline-block;
    font-size: 40px;
    /* border-bottom: 3px solid purple; */
    margin-bottom: 15px;
    padding: 4px 0;
}
.container h1:hover{
    color: rgb(209, 161, 254);
    border-bottom: 3px solid rgb(245, 177, 245);
}
.box{
    margin:12px 0px;
    width: 100%;
    border-bottom: 1px solid rgb(245, 183, 26);
}
.box:hover{
    box-shadow: 0 0 24px #13daf4;
    border-bottom: 1px solid rgb(252, 242, 215);
}
.box input{
    background: none;
    font-size: 20px;
    width: 65%;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;

}
.box i{
    padding: 0 12px;
    width: 25px;
    text-align: center;
}
.btn{
    position: absolute;
    left: 62%;
    color: white;
    font-size: 32;
    background: none;
    cursor: pointer;
    outline: none;
    width: 27%;
    height: 14%;
    margin: 12px 0;
    padding: 6px;
    border-radius: 90px;
    border: 2px solid rgb(245, 183, 26);
    font-weight: bold;
}
.btn:hover{
    box-shadow: 0 0 34px #f4cf13;
    color: purple;
    background: rgb(219, 193, 228);
    outline: none;
}
.typewriter{
    font-size: 24px;
    padding: 4px;
    position: absolute;
    top: 100px;
}
.typewriter h1 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
.reg{
    left:20px;
    margin:12px 0px;
    width: 120%;
}
.reg a{
    color: chartreuse;
}
.reg a:hover{
    font-size: 120%;
    color: aliceblue;
}
.forgot{
    position: absolute;
    top: 61%;
    left:70%;
    margin:12px 0px;
    width: 120%;
}
.forgot a{
    color: chartreuse;
}
.forgot a:hover{
    font-size: 120%;
    color: aliceblue;
}





/* Google Signup */
.btn1{
    position: absolute;
    left: 8%;
    color: white;
    font-size: 22;
    background: none;
    cursor: pointer;
    outline: none;
    width: 38%;
    height: 14%;
    margin: 12px 0;
    padding: 6px;
    border-radius: 90px;
    border: 2px solid rgb(245, 183, 26);
    font-weight: bold;
}
.btn1:hover{
    box-shadow: 0 0 34px #f4cf13;
    color: purple;
    background: rgb(219, 193, 228);
    outline: none;
}
.btn1 img{
        position:absolute;
        left: 7%;
        top: 8%;
        width: 60px;
        padding: 1px;
}





.invLog{
    display :flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 12px;
    border-radius: 22px;
    background-color: rgba(255, 0, 0, 0.445);
    font-size: 22px;
    position: absolute;
    top: 6%;
    left: 92%;
    border: 3px solid rgb(255, 255, 255);
}

@media screen and (max-width: 480px)
{
    .container{
        width: 85%;
        height: 40%;
        position: absolute;
        top: 33%;
        left: 0%;
    }
    .btn1{
        position: absolute;
        left: 8%;
        font-size: 22;
        width: 48%;
        height: 14%;
    }
    .btn1 img{
            position:absolute;
            left: 6%;
            top: 10%;
            width: 50px;
            padding: 1px;
    }
}