*{
    margin: 0;
    padding: 0;
}
body{
   background: url(/static/styles/Images&Gifs/gif1.gif) no-repeat center center fixed;
    background-size: cover;
}
.gif{
    position: absolute;
    top: 12%;
    left: 65%;
}
.container{
    box-shadow: 0 0 22px rgb(62, 145, 224);
    border: 3px solid rgb(62, 145, 224);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 32px;
    background-color: rgba(0, 21, 255, 0.7);
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
}
.container h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 2px solid rgb(255, 0, 0);
    margin-bottom: 15px;
    padding: 4px 0;
}
.container h1:hover{
    font-size: 45px;
    cursor: pointer;
    color: rgb(209, 161, 254);
    border-bottom: 3px solid rgb(245, 177, 245);
}
.box{
    padding: 2px;
    margin:12px 0px;
    width: 100%;
    border-bottom: 2px solid rgb(245, 183, 26);
}
.box:hover{
    box-shadow: 0 0 34px #ffffff;
    border-bottom: 3px solid rgb(3, 222, 247);
}
.box input{
    background: none;
    font-size: 20px;
    width: 65%;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;

}
.box i{
    padding: 0 12px;
    width: 25px;
    text-align: center;
}
.btn{
    position: absolute;
    left: 35%;
    color: white;
    font-size: 22;
    background: none;
    cursor: pointer;
    outline: none;
    width: 35%;
    margin: 12px 0;
    padding: 6px;
    border-radius: 90px;
    border: 2px solid rgb(245, 183, 26);
    font-weight: bold;
}
.btn:hover{
    box-shadow: 0 0 34px #ffc917;
    height: 9%;
    color: rgb(169, 0, 169);
    background: rgb(219, 193, 228);
    outline: none;
}


.quotes{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.612);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.quotes:hover{
    box-shadow: 0 0 34px #53acff;
    cursor: pointer;
    font-size: 11px;
    padding: 22px;
    background-color: rgba(105, 222, 255, 0.7);
    color: rgb(255, 0, 0);
}
.quotes1{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.612);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 5%;
}
.quotes2{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 5%;
}
.quotes1:hover{
    box-shadow: 0 0 34px #53acff;
    cursor: pointer;
    font-size: 11px;
    padding: 22px;
    background-color: rgba(105, 222, 255, 0.7);
    color: rgb(255, 0, 0);
}
.quotes2:hover{
    box-shadow: 0 0 34px #53acff;
    cursor: pointer;
    font-size: 11px;
    padding: 22px;
    background-color: rgba(105, 222, 255, 0.7);
    color: rgb(255, 0, 0);
}






.invLog{
    display :flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 12px;
    border-radius: 22px;
    background-color: rgba(255, 0, 0, 0.594);
    font-size: 22px;
    position: absolute;
    top: 3%;
    left: 92%;
    border: 3px solid rgb(255, 255, 255);
}

@media screen and (max-width: 640px)
{
    .quotes{
        position: absolute;
        top: 1%;
        left: 0%;
        width: 25%;
        height: 15%;
    }
    .quotes:hover{
        font-size: 10px;
    }
    .quotes2:hover{
        font-size: 10px;
    }
    .quotes1{
        position: absolute;
        top: 1%;
        left: 33%;
        width: 24%;
        height: 15%;
    }
    .quotes2{
        position: absolute;
        top: 1%;
        left: 65%;
        width: 24%;
        height: 15%;
    }
    .container{
        font-size: 20px;
        position: absolute;
        top: 25%;
        left: 0%;
    }
}