{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}
{% block body %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" >
</script>
<div align="center">
  <div class="abtuss">
<h1>DEVELOPERS</h1>
</div>
    </div>
    <div class="about-section">
      <h1>MEN BEHIND THE CURTAIN</h1>
    </div>
<br>
    <h2 style="text-align:center" class="abtteam">OUR TEAM</h2>
    <div class="abtrow">
      <div class="abtcolumn">
        <div class="card1">
          <div class="abtcontainer">
            <h2>A. TEJA</h2>
            <p class="abttitle">CEO & FOUNDER</p>
            <p>Often, they are the face of the company to internal and external stakeholders, liaising with management, the board, and the public.
             long-term strategy of the company and for instilling
              They are responsible for the long-term strategy of the company and for instilling brand values in employees.
            </p>
            <div class="mailing">teja@rentals.com</a></div>
            <p><a href="https://www.instagram.com/" target="_blank"><button class="abtbutton">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="abtcolumn">
        <div class="card1">
          <div class="abtcontainer">
            <h2>RAJGOPAL HOTA</h2>
            <p class="abttitle">DEVELOPER</p>
            <p>Responsible for managing and supporting a team of graphic designers to bring concepts, presentations, and prototypes to life.
               Collaborate on the ideation and development of innovative marketing campaigns.
               Participate in the execution of the entire creative process within an allotted time frame and budget.</p>
               <div class="mailing">raja@rentals.com</a></div>
            <p><a href="https://www.instagram.com/raja.2k3" target="_blank"><button class="abtbutton">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="abtcolumn">
        <div class="card1">
          <div class="abtcontainer">
            <h2>B. RAKESH</h2>
            <p class="abttitle">DESIGNER</p>
            <p>
              The role of a business designer is to apply customer-centric design methods and tools to prototyping, developing,
               and validating new business models. Business designers work by extending the customer-centric nature of design thinking
               to the business viability phase of the innovation process.</p>
               <div class="mailing">rakesh@rentals.com</a></div>
            <p><a href="https://www.instagram.com/rakhi_1259" target="_blank"><button class="abtbutton">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
{% endblock body %}