{% extends 'base.html' %}
{% block title %} Schedule Ride {% endblock title %}
{% block body %}

<div class="historytable">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemin"></a>
      <h1>BOOKING HISTORY</h1>
      <table>
      <tr>
        <th>SOURCE</th>
        <th>DESTINATION</th>
        <th>DATE</th>
        <th>CAR TYPE</th>
      </tr>
      {% for i in travel_list %}
      <tr>
        <td>{{i.source}}</td>
        <td>{{i.destination}}</td>
        <td>{{i.date}}</td>
        <td>{{i.cartype}}</td>
      </tr>
      {% endfor %}
      </table>
  </div>

{% endblock body %}