{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}



<div class="micro" id="micro">
    <img src="/static/styles/Images&Gifs/micro.jpg" class="micropic">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
    <h1>MICRO</h1>
    <div class="notesmicro">Micro - A regular comfortable AC hatchback that
        becomes your everyday dependable ride. An
        economical option for daily commute.
        Compact yet comfortable AC cars that seat up
        to 3 people and give you great value for your
        money. Small fares for short rides.
    </div>
    <div class="price">
        Rs. 22/KM
    </div>
    <div class="specsofcar">
        <ol>
            <li>1.Maruti Suzuki Alto</li>
            <li>2.Maruti Suzuki Celerio</li>
            <li>3.Renault Kwid</li>
            <li>4.Tata Tiago</li>
            <li>5.Maruti Suzuki Swift</li>
            <li>6.Hyundai Elite i20</li>
        </ol>
    </div>
</div>
<div class="suv" id="suv">
    <img src="/static/styles/Images&Gifs/suv.jpg" class="suvpic">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
    <h1>SUV</h1>
    <div class="notesmicro">SUV -
        SUVs with free Wi-Fi and top drivers
        A perfect choice of car for large groups, with
        plenty of room for everyone including that
        extra bag.Luxury cars like Mercedes powered by auto-connect Wi-
        Fi, at unbeatable fares & attractive hourly
        rental packages.
    </div>
    <div class="price">
        Rs. 32/KM
    </div>
    <div class="specsofcar">
        <ol>
            <li>1.Mahindra Thar</li>
            <li>2.Range Rover</li>
            <li>3.Tata Nexon</li>
            <li>4.MarutiBrezza</li>
            <li>5.Hyundai Creta</li>
            <li>6.Fortuner</li>
            <li>6.Land Rover Defender</li>
        </ol>
    </div>
</div>
<div class="sedan" id="sedan">
    <img src="/static/styles/Images&Gifs/sedan.jpg" class="sedanpic">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
    <h1>SEDAN</h1>
    <div class="notesmicro">Prime Sedan -
        Sedans with free Wi-Fi and top drivers
        Top rated drivers, and a hand-picked fleet of
        the best cars with extra legroom and boot
        space.Cars with in-cab entertainment consoles that
        allow you to watch movies, listen to music and
        stay connected while on the move.
    </div>
    <div class="price">
        Rs. 43/KM
    </div>
    <div class="specsofcar">
        <ol>
            <li>1.Hyundai Verna</li>
            <li>2.Volkswagen Virtus</li>
            <li>3.BMW 3 Series</li>
            <li>4.Mercedes-Benz C-Class</li>
            <li>5.Jaguar XF</li>
            <li>6.Mercedes-Benz A-Class</li>
        </ol>
    </div>
</div>
<div class="limosine" id="limosine">
    <img src="/static/styles/Images&Gifs/limo.jpg" class="limosinepic">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
    <h1>LIMOUSINE</h1>
    <div class="noteslimo">Limousines -
        The new luxury ride in town
        Top-of-the-line luxury cars like Mercedes,
        BMW, and Rolls-Royce powered by auto-connect Wi-
        Fl, at unbeatable fares & attractive hourly
        rental packages. More discount during festive days.
    </div>
    <div class="pricelimo">
        Rs. 96/KM
    </div>
    <div class="specsofcar">
        <ol>
            <li>1.Mercedes-Benz A-Class Limousine</li>
            <li>2.Rolls-Royce Phantom</li>
            <li>3.Mercedes-Maybach S600 Pullman Guard</li>
            <li>4.Mercedes G63 Armored</li>
        </ol>
    </div>
</div>

<div class="footer-dark" id="down">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="https://www.kluniversity.in/" target="_blank">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p class="devdetails">This Rental web application is developed by Mr. Rajgopal Hota during his B. Tech second year odd semester for his skill
                        development project 01. The whole web application is developed using Django framework which was taught in the 
                        second year. If you like this project contact me through the links given below.</p>
                </div>
                <div class="col item social" id="icosoc"><a href="https://github.com/rajgopalhota" target="_blank"><i
                            class="icon"><img src="/static/styles/SocialIcons/github.png"></i></a><a
                        href="https://www.linkedin.com/in/rajgopal-hota-3949a3225/" target="_blank"><i class="icon"><img
                                src="/static/styles/SocialIcons/linkedin.png"></i></a><a
                        href="https://www.instagram.com/raja.2k3/" target="_blank"><i class="icon"><img
                                src="/static/styles/SocialIcons/instagram.png"></i></a><a
                        href="https://twitter.com/RajgopalHota" target="_blank"><i class="icon"><img
                                src="/static/styles/SocialIcons/twitter.png"></i></a></div>
            </div>
            <p class="copyright">Rajgopal Hota © 2022</p>
        </div>
    </footer>
</div>

{% endblock body %}