{% extends 'base.html' %}
{% block title %} On The Go {% endblock title %}
{% block body %}

<div class="cust_book1">
    <a href="/"><img src="/static/styles/Images&Gifs/homeico.png" class="homemin"></a>
      <h1>On-The Go</h1>
    <form method="POST" action="/ridenow/">
      {% csrf_token %}
      <div class="box">
        <label>FROM: </label><input type="text" class="in_box" name="o_from">
      </div>
      <div class="box">
        <label>TO: </label><input type="text" class="in_box" name="o_dest">
      </div>
      <div class="box">
        <label>TYPE: </label><select name="o_optedcar" class="typedown">
            <option value="Anything">Anything</option>
            <option value="Micro">Micro</option>
            <option value="SUV">SUV</option>
            <option value="Sedan">Sedan</option>
            <option value="Limosine">Limosine</option>
        </select>
        </div>
      <div class="box">
      <label>PHONE: </label><input type="number" class="in_box" name="o_phone">
    </div>
    <button class="cust_bn" type="submit"><img src="/static/styles/Images&Gifs/book.png">BOOK</button>
<script type="text/javascript">
  window.history.forward();
  function noBack() {
      window.history.forward();
  }
</script>
{% endblock body %}